@page
@model MyGamingWebsite.Pages.Games.MyIndexModel
@{
    <h1>@Model.Titel</h1>
    <ul>
        @foreach(var game in Model.MyGames){
            <li>@game.Naam (@game.Rating/10)</li>
        }
    </ul>
}
