@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    @foreach(var motor in Model._motorbikeService.GetAllMotorbikes())
    {
        <li>@motor.Merk @motor.Model</li>
    }
</ul>
