@page
@model PrivacyModel
@{
    ViewData["Title"] = "Bestelling";
}
<p>Nieuwe bestelling: </p>
<form method="post">
    <ul>
        <li>E-mailadres: <input asp-for="Bestelling.Emailadres" /></li>
        <li>Adres: <input asp-for="Bestelling.Adres" /></li>
        <li>Aantal pizza's Margherita': <input asp-for="Bestelling.Aantal_Margheritas" /></li>
        <li>Aantal pizza's Hawaii': <input asp-for="Bestelling.Aantal_Hawaiis" /></li>
        <li>Aantal pizza's Napolitana': <input asp-for="Bestelling.Aantal_Napolitanas" /></li>
    </ul>
    <input type="submit" value="Bestelling plaatsen"/>
</form>